<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CAT-APP-PROJECT</display-name>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.catapp.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>NewUserServlet</display-name>
    <servlet-name>NewUserServlet</servlet-name>
    <servlet-class>com.catapp.servlet.NewUserServlet</servlet-class>
    <enabled>true</enabled>
  </servlet>
   <servlet>
    <display-name>ForgotPasswordServlet</display-name>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>com.catapp.servlet.ForgotPasswordServlet</servlet-class>
    <enabled>true</enabled>
  </servlet>
  <servlet>
    <display-name>CatAppDownloadPageServlet</display-name>
    <servlet-name>CatAppDownloadPageServlet</servlet-name>
    <servlet-class>com.catapp.servlet.CatAppDownloadPageServlet</servlet-class>
    <enabled>true</enabled>
  </servlet>
  <servlet>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.catapp.servlet.UploadServlet</servlet-class>
    <enabled>true</enabled>
  </servlet>
  <servlet>
    <display-name>LoadDataForHome</display-name>
    <servlet-name>LoadDataForHome</servlet-name>
    <servlet-class>com.catapp.servlet.LoadDataForHome</servlet-class>
    <enabled>true</enabled>
  </servlet>
  <servlet>
    <display-name>SaveFileFormServlet</display-name>
    <servlet-name>FileSave</servlet-name>
    <servlet-class>com.catapp.servlet.SaveFileFormServlet</servlet-class>
    <enabled>true</enabled>
  </servlet>
  <servlet>
    <display-name>UserHomeServlet</display-name>
    <servlet-name>UserHomeServlet</servlet-name>
    <servlet-class>com.catapp.servlet.UserHomeServlet</servlet-class>
    <enabled>true</enabled>
  </servlet>
  <servlet>
    <display-name>ViewDownloadServlet</display-name>
    <servlet-name>ViewDownloadServlet</servlet-name>
    <servlet-class>com.catapp.servlet.ViewDownloadServlet</servlet-class>
    <enabled>true</enabled>
  </servlet>
  <servlet>
    <display-name>DownloadFileServlet</display-name>
    <servlet-name>DownloadFileServlet</servlet-name>
    <servlet-class>com.catapp.servlet.DownloadFileServlet</servlet-class>
    <enabled>true</enabled>
  </servlet>
  <servlet>
    <display-name>UserManagementServlet</display-name>
    <servlet-name>UserManagementServlet</servlet-name>
    <servlet-class>com.catapp.servlet.UserManagementServlet</servlet-class>
    <enabled>true</enabled>
  </servlet>
  <servlet>
    <display-name>ManageActionServlet</display-name>
    <servlet-name>ManageActionServlet</servlet-name>
    <servlet-class>com.catapp.servlet.ManageActionServlet</servlet-class>
    <enabled>true</enabled>
  </servlet>
  <servlet>
    <display-name>SuccessServlet</display-name>
    <servlet-name>SuccessServlet</servlet-name>
    <servlet-class>com.catapp.servlet.SuccessServlet</servlet-class>
    <enabled>true</enabled>
  </servlet>
  <servlet>
    <display-name>DownloadConcaweAsIs</display-name>
    <servlet-name>DownloadConcaweAsIs</servlet-name>
    <servlet-class>com.catapp.servlet.DownloadConcaweAsIs</servlet-class>
    <enabled>true</enabled>
  </servlet>
  <servlet>
    <display-name>Download_InternalServlet</display-name>
    <servlet-name>Download_InternalServlet</servlet-name>
    <servlet-class>com.catapp.servlet.Download_Internal</servlet-class>
    <enabled>true</enabled>
  </servlet>
  <servlet>
    <display-name>Download_Internal_CServlet</display-name>
    <servlet-name>Download_Internal_CServlet</servlet-name>
    <servlet-class>com.catapp.servlet.Download_Internal_CServlet</servlet-class>
    <enabled>true</enabled>
  </servlet>
  <servlet>
    <display-name>responseServlet</display-name>
    <servlet-name>responseServlet</servlet-name>
    <servlet-class>cat.response.responseServlet</servlet-class>
    <enabled>true</enabled>
  </servlet>
  <servlet>
    <display-name>column_3Servlet</display-name>
    <servlet-name>column_3Servlet</servlet-name>
    <servlet-class>cat.response.column_3Servlet</servlet-class>
    <enabled>true</enabled>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewUserServlet</servlet-name>
    <url-pattern>/NewUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserHomeServlet</servlet-name>
    <url-pattern>/UserHome</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadDataForHome</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileSave</servlet-name>
    <url-pattern>/FileSave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewDownloadServlet</servlet-name>
    <url-pattern>/ViewDownload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadFileServlet</servlet-name>
    <url-pattern>/Downloads</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SuccessServlet</servlet-name>
    <url-pattern>/Success</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserManagementServlet</servlet-name>
    <url-pattern>/UserManagement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadConcaweAsIs</servlet-name>
    <url-pattern>/DownloadConcawe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Download_Internal_CServlet</servlet-name>
    <url-pattern>/Download_Internal_C</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Download_InternalServlet</servlet-name>
    <url-pattern>/Download_InternalServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>column_3Servlet</servlet-name>
    <url-pattern>/Response/column_3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>responseServlet</servlet-name>
    <url-pattern>/Response/Response</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CatAppDownloadPageServlet</servlet-name>
    <url-pattern>/catAppDownloadPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageActionServlet</servlet-name>
    <url-pattern>/ManageAction</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Home</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>