<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <display-name>CAT-APP-PROJECT</display-name>
 <servlet>
  <servlet-name>AdminServlet</servlet-name>
  <servlet-class>com.catapp.servlet.AdminServlet</servlet-class>
 </servlet>
 
 <servlet>
  <display-name>NewUserServlet</display-name>
  <servlet-name>NewUserServlet</servlet-name>
  <servlet-class>com.catapp.servlet.NewUserServlet</servlet-class>
  <enabled>true</enabled>
 </servlet>
 
 <servlet>
  <display-name>UploadServlet</display-name>
  <servlet-name>UploadServlet</servlet-name>
  <servlet-class>com.catapp.servlet.UploadServlet</servlet-class>
  <enabled>true</enabled>
 </servlet>
 
 <servlet>
  <display-name>UserHomeServlet</display-name>
  <servlet-name>UserHomeServlet</servlet-name>
  <servlet-class>com.catapp.servlet.UserHomeServlet</servlet-class>
  <enabled>true</enabled>
 </servlet>

 <servlet>
  <display-name>ViewDownloadServlet</display-name>
  <servlet-name>ViewDownloadServlet</servlet-name>
  <servlet-class>com.catapp.servlet.ViewDownloadServlet</servlet-class>
  <enabled>true</enabled>
 </servlet>

 <servlet-mapping>
  <servlet-name>AdminServlet</servlet-name>
  <url-pattern>/Adminpage</url-pattern>
 </servlet-mapping>
 
<servlet-mapping>
  <servlet-name>NewUserServlet</servlet-name>
  <url-pattern>/NewUser</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
  	<servlet-name>UserHomeServlet</servlet-name>
  	<url-pattern>/UserHome</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
  	<servlet-name>UploadServlet</servlet-name>
  	<url-pattern>/Upload</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
  	<servlet-name>ViewDownloadServlet</servlet-name>
  	<url-pattern>/ViewDownload</url-pattern>
 </servlet-mapping>
 
 
 
 <welcome-file-list>
  <welcome-file>/WEB-INF/Cover.jsp</welcome-file>
 </welcome-file-list>
</web-app>
